section {
  margin: 80px 0;
}
.top-logo {
  position: absolute;
  z-index: 3;
  width: 40%;
  height: auto;
  bottom: 0;
  right: 0;
  margin: 5%;
  border-radius: 10px;
}
.top-image-container {
  width: 100%;
  overflow: hidden;
}
#contents {
  max-width: 1000px !important;
  margin: 0 auto;
}
#contents .list-column-container {
  justify-content: center;
}
#contents .list-column-container .list-column {
  width: 48%;
  margin: 2px;
}
@media screen and (max-width: 620px) {
  #contents .list-column-container .list-column h4 {
    font-size: 16px;
  }
}
#contents .list-column-container .list-column img {
  object-fit: cover;
  width: 100%;
  height: 4rem;
}
@media screen and (max-width: 620px) {
  #contents .list-column-container {
    display: inline;
  }
  #contents .list-column-container .list-column {
    width: 100%;
  }
  #contents .list-column-container .list-column img {
    height: 7rem;
  }
}
#contents .list:nth-of-type(1)::before {
  content: "Wan Rei";
  font-size: 12vw;
  left: 5%;
  top: 10%;
}
#contents .about-name {
  text-align: center;
}
#contents .about-name h4 {
  font-size: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
#contents .about-name .daihyo {
  font-size: 0.2rem;
  margin-right: 0.4rem;
}
#contents h2 {
  font-size: 200%;
}
.footer {
  width: auto;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}
.footer__nav {
  margin: 20px auto;
}
.footer__nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__nav ul li {
  margin-right: 10px;
}
.footer__nav ul li a {
  text-decoration: none;
}
.base-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.base-info__logo img {
  width: 70px;
}
.base-info__text {
  text-align: left;
  margin-left: 10px;
}
.map {
  width: auto;
  height: 300px;
}
.btn_cnt a {
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 240px;
  background-color: #1bd;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.btn_cnt a:hover {
  opacity: 0.5;
}
.contact-text__tell {
  text-align: center;
  margin: 0 auto;
}
.contact-text__tell a {
  color: #09c;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  transition: 0.2s linear;
  font-size: 24px;
  text-decoration: none;
}
.contact-text__tell a:hover {
  opacity: 0.5;
}
.myfc__img {
  width: 30%;
  margin: 0 auto;
}
.myfc__img img {
  display: block;
  margin: 0 auto;
}
.myfc__text {
  text-align: center;
}
.company-table {
  margin: 0 auto;
}
.company-table tr {
  border-bottom: 1px solid #b5b1b1;
}
.company-table th,
.company-table td {
  text-align: center;
  padding: 24px 0;
  border: none;
  font-size: 18px;
}
@media screen and (min-width: 770px) {
  .company-table th,
  .company-table td {
    font-size: 20px;
  }
}
.company-table th {
  width: 30%;
}
.company-table__address {
  text-align: left;
  margin-bottom: px;
}
@media screen and (max-width: 620px) {
  .company-table__address {
    font-size: 14px;
  }
}
.company-table__address span {
  display: inline-block;
  white-space: nowrap;
}
.company-table__name-box {
  text-align: center;
}
.work-list-item {
  margin-bottom: 40px;
}
.work-list-item h3 {
  font-weight: bold;
  margin: 0 3%;
}
.work-list {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background: #000;
  color: #fff;
  margin: 0 3% 10px;
}
.work-list__text {
  width: 50%;
  padding: 10px;
}
.work-list__text h4 {
  padding: 8px 0;
  font-size: 18px;
}
.work-list__text p {
  padding: 0 !important;
}
.work-list figure {
  width: 50%;
img
}
.insta-box {
  display: flex;
  padding: 0 3%;
  justify-content: center;
  overflow: hidden;
}
.work-img {
  display: flex;
  max-height: 200px;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  color: #fff;
  margin: 0 3% 80px;
}
.work-img.pb-none {
  margin-bottom: 0;
}
.work-img__img-box {
  overflow: hidden;
}
.work-img__img-box img {
  object-fit: cover;
}
